@charset 'utf-8';
@import 'normalize.css';
@import '../fonts/MartianGrotesk/MartianGrotesk.css';

:root {
    font-family: 'Martian Grotesk';
    background-color: #000000;
    color: #E2E5F3;
}

h1 {
    font-weight: 1000;
    font-stretch: 200%;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    border-bottom: #E2E5F3 1px solid;
    background-color: #000000;
}

.sections-nav {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 1rem;

    list-style: none;
}

.section-nav__lien {
    color: #E2E5F3;
    text-decoration: none;
    transition: font-weight 75ms ease-in-out;
}

.section-nav__lien:hover {
    font-weight: 750;
}

/* MAIN */
.main {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
}

p {
    margin: 0;
    padding: 1rem;
    background-color: #E2E5F30f;
    
    border-radius: 1rem;
    text-align: center;
    align-content: center;
}