@charset 'utf-8';
@import 'normalize.css';
@import '../fonts/MartianGrotesk/MartianGrotesk.css';

body {
    font-family: 'Martian Grotesk';
    background-color: #E2E5F3;
}

h1 {
    font-weight: 1000;
    font-stretch: 200%;
}